<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid footer-conteiner text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        
                <!-- Grid column -->
                <div class="col-md-3 mt-md-0 mt-3">
        
                <!-- Content -->
                <a class="navbar-brand" href="#">
                    <img src="./img/logo.png" width="150" height="150" class="d-inline-block align-top" alt="">
                </a>
        
                </div>
                <!-- Grid column -->
        
                <hr class="clearfix w-100 d-md-none pb-3">
        
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">
                    МЫ В СОЦСЕТЯХ</h5>
        
                <ul class="list-unstyled">
                    <li>
                    <a href="#!">facebook</a>
                    </li>
                    <li>
                    <a href="#!">instagram</a>
                    </li>
                    <li>
                    <a href="#!">youtube</a>
                    </li>
                    <li>
                    <a href="#!">vkontakte</a>
                    </li>
                </ul>
        
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">НАШИ ПАРТНЕРЫ</h5>
        
                <img src="./img/footer-partner.png" width="200" height="60" class="d-inline-block align-top" alt="">
        
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
        
                    <!-- Links -->
                    <h5 class="text-uppercase">КРЕАТИВНЫЙ ПАРТНЕР</h5>
            
                        <!-- Content -->
                        <a class="navbar-brand" href="#">
                            <img src="./img/logo-part.png" width="150" height="30" class="d-inline-block align-top" alt="">
                        </a>
                </div>
                <!-- Grid column -->
                
            </div>
            <!-- Grid row -->
        
            </div>
            <!-- Footer Links -->
        
            <!-- Copyright -->
            <div class="footer-copyright  py-3"> <a href="#"> Developed by Lights.agency </a> | all rights reserved ©
           
            </div>
            <!-- Copyright -->
        
  </footer>
  <!-- Footer -->


<script src="js/main.min.js"></script>
</body>
</html>